body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:black;
}
a:active,
a:visited,
a:focus {
    color:black
}

.red_tag {
    background: #F44336;
    color: #fff;
    padding: 10px;
}

header {
    padding-top: 5px;
    background: #00BCD4;
    position: relative;
}

header .logo {
    text-align: center;
    font-size: 30px;
    font-family: 'Ranga', cursive;
    color: #ffffff;
    border-bottom: 6px solid #0495a8;
    display: block;
}

header .open_nav {
    position: absolute;
    left:0px;
}


header .navItem {
    font-weight: 300;
    font-size: 12px;
    color:#bababa;
    padding:10px;
    border-top: 1px solid #404040;
}

header .navItem a {
    color:inherit;
    text-decoration: none;
}

header .navItem span {
    color:white;
    margin-right:10px;
}

.loadmore {
    background: #dbdbdb;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
}

/*=============================
            REGISTER
===============================*/

.rl_container {
    text-align: center;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.rl_container .form_element {
    margin-top: 20px;
}


.rl_container h2 {
    font-size: 33px;
    font-weight: 300;
    color: #02bcd4;
}

.rl_container input {
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 11px 31px;
    background: #f7f7f7;
    font-weight: 300;
    width: 260px;
}
.rl_container.article input {
    width: 80%;
}

.rl_container.article textarea {
    background: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 14px;
}
.rl_container.article select {
    width: 80%;
    background: #f7f7f7;
    font-size: 20px;
    border: 1px solid #e1e1e1;
}

.rl_container button {
    font-size: 20px;
    padding: 10px 52px;
    background: #02bcd4;
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    width: 260px;
}
.rl_container.article button {
    width: 80%;
}

.rl_container .conf_link {
    color: #8BC34A;
    font-weight: 600;
    margin-top: 20px;
}

.rl_container .error {
    color: #FF5722;
    margin-top: 10px;
    font-weight: 600;
}

.rl_container .success a {
    color: #FF5722;
    font-size: 20px;
}

.rl_container .delete_stand {
    text-align: center;
    margin-top: 20px;
}

.rl_container .delete_stand .button {
    font-size: 20px;
    padding: 10px 52px;
    background: #E91E63;
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d8d8d8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d8d8d8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d8d8d8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #d8d8d8;
  }

/*=============================
            USER
===============================*/
    .user_stands {
        box-sizing: border-box;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 50px;
      }

    

    .edit_confirm {
        background: #8BC34A;
        color: #fff;
        padding: 10px 0px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  .user_container {
    text-align: center;
    margin-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  

/*=============================
            POST
===============================*/

.logout_container h1{
    color: #02bcd4;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-top: 31px;
}

/*=============================
            LOADER
===============================*/


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
    color: #ebebeb;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.SVG-container{
    padding: 50px;
    margin: 65px 0px 0px 50px;
}

.padding-top-60 { 
  padding-top: 140px
}

.float-right {
    float: right;
}




input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
  }
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }